#{extends 'main.html' /}
#{set 'moreStyles'}
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/styleguide.css'}">	
#{/set}
#{set title:'Styleguide' /}

<h1>Styleguide</h1>

<div id="nav">
	<h2>Contents</h2>
	<ul>
		#{list items: sectionList, as: 'section'}
		<li><a href="#${section}">${section}</a></li>
		#{/list}
	</ul>
</div>

<div id="content">
#{styleguide section: 'ColourDivs'}
	<div class="flashydiv -modifierClass">A div</div>
#{/styleguide}

#{styleguide section: 'WhizzyButtons'}
	<button class="whizzybutton -modifierClass">Button</button>
#{/styleguide}
</div>
